@font-face { 
	font-family: 'adam.cg_proregular';
	src: url('./fonts/ADAM.CGPRO-webfont.eot');
	src: url('./fonts/ADAM.CGPRO-webfont.eot?#iefix') format('embedded-opentype'), 
	url('./fonts/ADAM.CGPRO-webfont.woff2') format('woff2'), 
	url('./fonts/ADAM.CGPRO-webfont.woff') format('woff'), url('./fonts/ADAM.CGPRO-webfont.ttf') format('truetype'), url('./fonts/ADAM.CGPRO-webfont.svg#adam.cg_proregular') format('svg'); 
	font-weight: normal; 
	font-style: normal; }

/*colours*/
body{
	background-color: black;
	color:#5BCEFa;
	font-family:'adam.cg_proregular', sans-serif;
}

.pink{
	color:pink;
}


h1 small{
	display:inline-block;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#title-element{
	min-width: 400px;
}

#title-element{
	width:100%;

}

#title-element.splash{
	
	height:100%;
	display: flex;
	flex-align: center;
	justify-content: center;
}

#title-element.splash h1{
	margin:auto;
	text-align: center;
}

#splashBtn{
	display:block;
}