<html>
   <body>
      <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/static/style2.css">
      <script src="/static/bootstrap.min.js"></script>
      <div class="row">
         <div class = "col-xs-12">
            <title>How Trans* is Twitter</title>
            <h1>Press the button below to see how positive twitter is being about trans* issues right now</h1>
            <button type="button" class="btn btn-default btn-lg">
               Check Now!!
            </button>
         </div>
      </div>
      <div class="row">
      <div class = "col-xs-12">
               <h1 style="font-size: 2000%;">100%</h1>
      </div>
      </div>
   </body>
</html>
